.reviews {
    padding: 50px 0;
}
.main-slider {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    
}
.slider-wrapper{
    color: #fff;
    background: var(--dark-brown);
    min-height: 350px;
}